{% extends 'base.html' %}

{% block body %} 
<style>

    H1 {
       position: relative;
       right: -790PX;
       top: -400PX;
       color: RED;

    }

p{
position: relative;
right: -800px;
top: -350px;
font-family:monospace;
}

span{
    position: relative;
right: -800px;
top: -360px;
}


   .ccc {
        position: relative;
        top:100px;
        left: -200px;
      
    }
   

    
    </style>
    <div id=aa class="container">
    <div class="ccc">
        <img src="../static/images/anim1.png">
        <h1>Let's Start the journey...</h1>
        <P>We will help<br> you to maintain budget<br>
             and analyse the expense</P>
     
    </div>

</div>

{% endblock %}